html, body {
	height: 100%;
	margin: 0;
	padding: 0; }
	
svg {
	background-color: #fbfbfb;
	max-width: 99%;
	max-height: 99%; }
svg #countries path {
	stroke-width: 0.5px;
	stroke: white;
	fill: #bbb; }
svg #countries path#CAN {
	fill: red; }
svg #graticules path {
	fill: none;
	stroke: #ccc;
	stroke-width: 0.5; }
svg #arcs path {
	fill: none;
	stroke: #333;
	stroke-width: 2; }
