@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-book.ttf');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-oblique.ttf');
	font-weight: normal;
	font-style: italic; }
	
@font-face {
	font-family: 'Avenir';
	src: url('fonts/Avenir-bold.ttf');
	font-weight: bold;
	font-style: normal; }

html, body {
	font-family: Avenir, sans-serif; }
	
svg {
	background-color: #fbfbfb;
	max-width: 99%;
	max-height: 99%; }
svg path {
	stroke-linecap: round; 
	stroke-linejoin : round; }
svg #countries path {
	stroke-width: 0.5px;
	stroke: white;
	fill: #bbb; }
svg #countries path#CAN {
	fill: red; }
svg #graticules path {
	fill: none;
	stroke: #ccc;
	stroke-width: 0.25; }
svg #investments path {
	fill: none;
	opacity: 0.25;
	stroke: #00f;
	stroke-width: 0.5; }
svg #cities circle {
	fill: black;
	fill-opacity: 0.1;
	stroke: black; }
svg #meta #year {
	alignment-baseline: baseline;
	font-size: 50px; }
	

	
input[type="range"] {
  appearance: none;
  width: 700px;
  height: 5px; 
  background: #d3d3d3;
}
